# Project Description
The goal of this project is to predict whether a person is Male or Female depending on various facial features and measurements. People from different genders tend to have differing facial features. For example, males tend to have thinner lips while females lips tend to be fuller. The features of this dataset will be displayed below. The predictions will be made using the following classification models: Discriminant Analysis, KNN, Naive Bayes, SVM-Linear, SVM-NonLinear. The output of all of these models will be analyzed.` 

## Link to Dataset
https://www.kaggle.com/elakiricoder/gender-classification-dataset

# Importing Libraries

In [56]:
import numpy as np
import pandas as pd

# Importing Dataset

In [57]:
dataset = pd.read_csv('gender_classification_v7.csv')

## Preview of Dataset

In [58]:
dataset.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

# Split Data
Split dataset into independent and dependent variables.

In [59]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

Split data into train and validation sets.

In [60]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

# Data Exploration

# Data Preprocessing
## Processing Independent Variables
### Feature Scaling

In [61]:
from sklearn.preprocessing import StandardScaler
# instantiate StandardScalar objects
sc_test = StandardScaler()
sc_train = StandardScaler()
# scale independent data columns [1:2]
X_train[:, 1:3] = sc_test.fit_transform(X_train[:, 1:3])
X_test[:, 1:3] = sc_test.fit_transform(X_test[:, 1:3])

## Processing Dependent Variables
### Label Encoding

In [62]:
from sklearn.preprocessing import LabelEncoder
# instantiate LabelEncoder objects
le_train = LabelEncoder()
le_test = LabelEncoder()
# encode data
y_train = le_train.fit_transform(y_train)
y_test = le_test.fit_transform(y_test)

# Train Models

## Discriminant Analysis Model

### Linear

In [63]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
# instantiate linear desciminant analysis object
lda = LinearDiscriminantAnalysis()
# train model
lda = lda.fit(X_train, y_train)

### Quadratic

In [64]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
# instantiate quadratic desciminant analysis object
qda = LinearDiscriminantAnalysis()
# train model
qda = lda.fit(X_train, y_train)

## KNN Model

In [65]:
from sklearn.neighbors import KNeighborsClassifier
# variable holds number of neigbors
neighbors = 3
# instantiate knn object
knn = KNeighborsClassifier(n_neighbors=neighbors) 
# train model
knn = knn.fit(X_train, y_train)

## Naive Bayes Model
### Gaussian

In [66]:
from sklearn.naive_bayes import GaussianNB
# instantiate gaussian naive bayes objectr
gnb = GaussianNB()
# train model
gnb = gnb.fit(X_train, y_train)

## SVM Models
### Linear

### Non-Linear

# Validate Models with Test Set

## Descriminant Analysis Models
### Linear

In [71]:
# make prediction
pred_lda = lda.predict(X_test)
# show predicitons in table
pd.DataFrame([le_train.inverse_transform(pred_lda), le_test.inverse_transform(y_test)], index=['Prediction', 'Validation']).T.head(n=10)

  Prediction Validation
0     Female     Female
1       Male       Male
2     Female     Female
3     Female     Female
4     Female     Female
5       Male       Male
6       Male       Male
7     Female     Female
8       Male       Male
9       Male       Male

### Quadratic

In [72]:
# make prediction
pred_qda = qda.predict(X_test)
# show predicitons in table
pd.DataFrame([le_train.inverse_transform(pred_qda), le_test.inverse_transform(y_test)], index=['Prediction', 'Validation']).T.head(n=10)

  Prediction Validation
0     Female     Female
1       Male       Male
2     Female     Female
3     Female     Female
4     Female     Female
5       Male       Male
6       Male       Male
7     Female     Female
8       Male       Male
9       Male       Male

## KNN Model

In [73]:
# make prediction
pred_knn = knn.predict(X_test)
# show predicitons in table
pd.DataFrame([le_train.inverse_transform(pred_knn), le_test.inverse_transform(y_test)], index=['Prediction', 'Validation']).T.head(n=10)

  Prediction Validation
0     Female     Female
1       Male       Male
2     Female     Female
3     Female     Female
4     Female     Female
5       Male       Male
6       Male       Male
7     Female     Female
8       Male       Male
9     Female       Male

## Naive Bayes Model

In [74]:
# make prediction
pred_gnb = gnb.predict(X_test)
# show predicitons in table
pd.DataFrame([le_train.inverse_transform(pred_gnb), le_test.inverse_transform(y_test)], index=['Prediction', 'Validation']).T.head(n=10)

  Prediction Validation
0     Female     Female
1       Male       Male
2     Female     Female
3     Female     Female
4     Female     Female
5       Male       Male
6       Male       Male
7     Female     Female
8       Male       Male
9       Male       Male

## SVR Models
### Linear

### Non Linear

# Measuring Model Performance